<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>v2</title>
    <link rel="stylesheet" href="src/css/style.css" media="screen" title="no title">
    <style media="screen">
      button:disabled{
        background: #ddd;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Basic <span class="sr-only">(current)</span></a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="template-syntax.html">Template Syntax</a></li>
        <li><a href="computed-watchers.html">Computed & Watchers</a></li>
        <li><a href="event-handling.html">Event Handling</a></li>
        <li><a href="forms.html">Forms</a></li>


      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="app" class="container">
      <div class="page-header">
        <h1>Computed & Watchers </h1>
      </div>

      <section>
        <h3>Computed Property</h3>
        <input type="text" v-model="first_name" value="">
        <input type="text" v-model="last_name" value="">
        <h3>
          {{fullname}}
        </h3>
        <p>
          Reversed name :
          <h4>{{reverseName()}}</h4>
        </p>

        <div class="">
          <input type="text" v-model="fullname" value="">
        </div>

      </section>

      <section>
        <h3>Watchers</h3>
        <p>
          <input type="text" v-model="hero" value="">
          {{hero_name}}
        </p>
      </section>


    </div>
    <script src="./libs/vue.js" charset="utf-8"></script>
    <script src="./src/computed-watchers.js" charset="utf-8"></script>

  </body>
</html>
