<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>v2</title>
    <link rel="stylesheet" href="src/css/style.css" media="screen" title="no title">
    <style media="screen">
      button:disabled{
        background: #ddd;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/">Basic <span class="sr-only">(current)</span></a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="template-syntax.html">Template Syntax</a></li>
        <li><a href="computed-watchers.html">Computed & Watchers</a></li>



      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="app" class="container">
      <div class="page-header">
        <h1>Template Syntax</h1>
      </div>

      <section>
        <h4>v-once</h4>
        <p v-once>This will never chnage {{name}}</p>
        <input type="text" v-model="name" value="">

        <h4>Bind Attributes value</h4>
        <p v-bind:id="name" v-bind:class="name" v-bind:title="'Hello '+name">This elements id is sarath
        </p>
        <div class="">
          Check here <input type="checkbox" v-model="enableButton" value=""> to enable button
          <button type="button" name="button" v-bind:disabled="!enableButton">Button</button>
        </div>

      </section>

      <section>
        <h3>Javascript Expressions</h3>
        <p>
          Adding number {{ number+ 1 }}
        </p>
        <p>
          {{sex=='m' ? 'Male' : 'Female'}}
        </p>
        <p>

        </p>
      </section>

      <section>
        <h3>Filters</h3>
        {{sometext | capitalize | showlength }}
      </section>



    </div>
    <script src="./libs/vue.js" charset="utf-8"></script>
    <script src="./src/template-syntax.js" charset="utf-8"></script>

  </body>
</html>
